* {
    user-select: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
}

.world {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 150px;
}

.score {
    position: absolute;
    right: 2%;
    top: 2%;
    font-family: "Kaushan Script", cursive;
    font-size: 1.25em;
}

.start-screen {
    position: absolute;
    font-size: 1.75em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Kaushan Script", cursive;
}

.ground {
    position: absolute;
    top: 65%;
    --left: 0;
    left: calc(var(--left) * 1%);
    width: 100%;
    z-index: -1;
}

.ninja {
    position: absolute;
    --bottom: 20;
    bottom: calc(var(--bottom) * 1%);
    left: 2%;
    height: 25%;
}

.Obstacle{
    position: absolute;
    left: calc(var(--left) * 1%);
    bottom: 27.5%;
    height: 7.5%;
}